<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>I N I C I O</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600,500" type="text/css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>
  </head>
  <body style="background-color: #b2dbe0; font-family: 'Inconsolata'">
    <div class= "barra caja" align="center">
      ANDREA DIAZ
    </div>
    <div class= "box caja" align="center">
      <form action="do_login" method="post"> <!--action = "a donde pide" -->
        <table>
          <tr>
            <td>
              Username:
            </td>
            <td>
              <input id="Username" type="text" class="form_campos"
              aria-lable="Username" aria-describedby="bassic-addon1"
              name="Username">
            </td>
          </tr>
          <tr>
            <td>
              Password:
            </td>
            <td>
              <input id="Password" name="Password" type="password"
              class="form_campos" aria-lable="Password"
              aria-describedby="bassic-addon1">
            </td>
          </tr>
          <tr>
            <td>
              <input class="boton caja_btn" type="submit" value="LOGIN" onclick="getData()">
            </td>
          </tr>
        </table>
      </form>
      <script>
        function getData() {
          var a = $('#Username').val();
          alert(a);
        }
        function contadord() {
          var c = $('#Username').val().length;
          $('#contador').text(c);
        }
      </script>
    </div>
    <div class= "box caja" align="center">
      <form action="/do_sign_up" method="post">
        <table>
          <tr>
            <td>
              Username:
            </td>
            <td>
              <input class="form_campos" type="text" name="username" />
            </td>
          </tr>
          <tr>
            <td>
              Name:
            </td>
            <td>
              <input class="form_campos" type="text" name="name" />
            </td>
          </tr>
          <tr>
            <td>
              Fullname:
            </td>
            <td>
              <input class="form_campos" type="text" name="fullname" />
            </td>
          </tr>
          <tr>
            <td>
              Password:
            </td>
            <td>
              <input class="form_campos" type="text" name="password" />
            </td>
          </tr>
          <tr>
             <td>
               <input class="boton caja_btn sign_up" type="submit" value="Sign up" />
             </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
