<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>

</head>
<body>
    <div align="center" width="80%">
        <div class="alert alert-primary" role="alert">
          CS2B01 - Platform-Based Development
        </div>
        <img src="/static/images/cs.png"/>
        <div class="alert alert-primary" role="alert">
            Roosevelt Ubaldo - 201710443
        </div>
        <a href="/login">Login Here</a><br>
        <a href="/register">Don't have an account?</a>
    </div>

</body>
</html>
