<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat | Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>
</head>
<body>
    <div class="login-box">
      <h1>Bienvenido!</h1>

      <form action="/do_login" method="post">
        <label >Username</label>
        <input type="text" name ="username" id="username" placeholder="Enter Username">
        <label >Password</label>
        <input type="password" name = "password" id="password" placeholder="Enter Password">
        <input type="submit" value="login">
        <a href="/">Lost your Password?</a><br>
        <a href="/register">Don't have An account?</a>
      </form>
    </div>
</body>
</html>